In [1]:
#install.packages("readxl")
library(readxl)

Warning message:
"package 'readxl' was built under R version 3.6.3"

In [2]:
options(warn=-1)
Diamante<-read_excel("C:/Users/Sabrina/Downloads/Exploracion_d_multivariados/DIAMANTE3.xlsx", sheet = 1)

In [3]:
Diamante_na<-na.omit(Diamante) #Elimina registros con NA del dataset

In [4]:
Diamante$turno<-as.factor(Diamante$turno)

In [5]:
Diamante_copia <- Diamante[, -c(18)]

In [6]:
#install.packages("dplyr")
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [7]:
Diamante_rename <- rename( Diamante_copia, año = anioLectivo ) #renombrar variables

In [8]:
Diamante_nuevo <-select(Diamante_rename, CUE, Documento, localidad, turno, curso, año, asignatura, nota, NivelEnsenanza, Nivel, Modalidad, ModEnsenaza, EsPrivada, orden)

In [9]:
Diamante_primario <- filter(Diamante_rename, año == 2022 & ModEnsenaza == "Comun" & NivelEnsenanza == "PRIMARIO" & Modalidad == "Secundaria")

In [10]:
dim(Diamante_primario)

[1] 178154     24

In [11]:
length(unique(Diamante_primario$CUE))

[1] 91

In [13]:
library('stringr')

In [14]:
Diamante_primario$curso<-as.character(Diamante_primario$curso)
Diamante_primario$Año_cursado<-str_sub(Diamante_primario$curso,1, 1)
print(head(Diamante_primario$Año_cursado),2)
table(Diamante_primario$Año_cursado)

[1] "4" "4" "4" "1" "4" "4"

    1     2     3     4     5     6
37298 29844 28184 28003 25853 28972

In [15]:
Diamante_primario$Año_cursado <- str_replace (Diamante_primario$Año_cursado, "1" , "PRIMERO")
Diamante_primario$Año_cursado <- str_replace (Diamante_primario$Año_cursado, "2" , "SEGUNDO")
Diamante_primario$Año_cursado <- str_replace (Diamante_primario$Año_cursado, "3" , "TERCERO")
Diamante_primario$Año_cursado <- str_replace (Diamante_primario$Año_cursado, "4" , "CUARTO")
Diamante_primario$Año_cursado <- str_replace (Diamante_primario$Año_cursado, "5" , "QUINTO")
Diamante_primario$Año_cursado <- str_replace (Diamante_primario$Año_cursado, "6" , "SEXTO")

In [41]:
Notas_Diamante<-select(Diamante_primario, 'CUE', 'Documento', 'localidad', 'turno' , 'curso' , 'periodoEvaluatorio', 'asignatura', 'nota','NivelEnsenanza', 'Nivel', 'Modalidad', 'año', 'EsPrivada','orden', 'Año_cursado')

In [42]:
table(Notas_Diamante$asignatura)

ACOMP .AL ESTUDIO LENGUA Y C. SOCIALES                      ACOMP. AL ESTUDIO
                                    68                                     48
 ACOMP. AL ESTUDIO MATEMÁTICA Y C NAT.              Acompañamiento al estudio
                                    63                                    305
             Acompañamiento al Estudio              ACOMPAÑAMIENTO AL ESTUDIO
                                   176                                    277
    ACOMPAÑAMIENTO AL ESTUDIO - LENGUA ACOMPAÑAMIENTO AL ESTUDIO - MATEMÁTICA
                                   108                                    108
                               Ajedrez                         Artes Visuales
                                   100                                     55
                        ARTES VISUALES                             Catequesis
                                 20183                                    672
                            CATEQUESIS                     Ciencias Naturales
                                  1594                                     55
                    CIENCIAS NATURALES                      Ciencias Sociales
                                 20617                                     55
                     CIENCIAS SOCIALES                 EDUCACION AGROPECUARIA
                                 20602                                     61
                Educación Agropecuaria                       EDUCACION FISICA
                                   416                                  20552
                      Educación Física                      EDUCACION MUSICAL
                                    55                                  20390
                     Educación Musical                  EDUCACION TECNOLOGICA
                                    55                                  20441
                 Educación Tecnológica    ESPACIO DE DEFINICION INSTITUCIONAL
                                    55                                     60
   Espacio de Definición Institucional       Espacio Definición Institucional
                                   415                                    646
                    EXPRESION CORPORAL            Formación ética y ciudadana
                                   451                                    121
           Formación Ética y Ciudadana                      IDIOMA EXTRANJERO
                                   248                                    136
                                Ingles                                 INGLES
                                   136                                   2365
                                Inglés                                 INGLÉS
                                  1062                                   1344
                  INICIACIÓN DEPORTIVA                                 Lengua
                                   108                                     50
                                LENGUA                             Matematica
                                 20550                                     52
                            MATEMATICA                                 Taller
                                 20518                                    463
                     Taller de Ajedrez                       TALLER DE DANZAS
                                   205                                    108
         TALLER DE HUERTA Y JARDINERÍA                      Taller de inglés.
                                   108                                    372
               Taller de Investigación             TALLER LENGUAS EXTRANJERAS
                                   647                                    230
                Técnicas Agropecuarias
                                   646

In [43]:
str(Notas_Diamante)

tibble[,15] [178,154 x 15] (S3: tbl_df/tbl/data.frame)
 $ CUE               : num [1:178154] 6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ Documento         : num [1:178154] 53004428 50184264 51285602 54252120 51151254 ...
 $ localidad         : chr [1:178154] "DIAMANTE" "DIAMANTE" "DIAMANTE" "DIAMANTE" ...
 $ turno             : Factor w/ 6 levels "COMPLETO","DIURNO",..: 5 5 5 5 5 5 5 5 5 5 ...
 $ curso             : chr [1:178154] "4-6 - A Prim" "4-6 - A Prim" "4-6 - A Prim" "1-3 - A Prim" ...
 $ periodoEvaluatorio: chr [1:178154] "Primer Trimestre" "Segundo Trimestre" "Primer Trimestre" "Primer Trimestre" ...
 $ asignatura        : chr [1:178154] "LENGUA" "LENGUA" "LENGUA" "LENGUA" ...
 $ nota              : chr [1:178154] "6" "9" "7" "8" ...
 $ NivelEnsenanza    : chr [1:178154] "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ Nivel             : num [1:178154] 2 2 2 2 2 2 2 2 2 2 ...
 $ Modalidad         : chr [1:178154] "Primaria" "Primaria" "Primaria" "Primaria" ...
 $ año               : num [1:178154] 2022 2022 2022 2022 2022 ...
 $ EsPrivada         : chr [1:178154] "N" "N" "N" "N" ...
 $ orden             : num [1:178154] 1 2 1 1 1 2 1 1 1 1 ...
 $ Año_cursado       : chr [1:178154] "CUARTO" "CUARTO" "CUARTO" "PRIMERO" ...

In [44]:
Notas_Diamante$asignatura <- toupper(Notas_Diamante$asignatura)

In [45]:
Notas_Diamante$asignatura <- str_replace (Notas_Diamante$asignatura, "EDUCACION FISICA", "EDUCACIÓN FÍSICA")
Notas_Diamante$asignatura <- str_replace (Notas_Diamante$asignatura, "MATEMATICA", "MATEMÁTICA")

In [46]:
PrimerT <- filter(Notas_Diamante, periodoEvaluatorio=="Primer Trimestre")
PrimerT <- rename(PrimerT, NotasPrimerT=nota)

In [47]:
SegundoT <- filter(Notas_Diamante, periodoEvaluatorio=="Segundo Trimestre")
SegundoT <- rename(SegundoT, NotasSegundoT=nota)

In [48]:
prueba<-merge(x = PrimerT, y = SegundoT, by = c("Documento", "asignatura"))

In [49]:
TercerT <- filter(Notas_Diamante, periodoEvaluatorio=="Tercer Trimestre")
TercerT <- rename(TercerT, NotasTercerT=nota)

In [25]:
promedio_trimestres<-merge(x = prueba, y = TercerT, by = c("Documento", "asignatura"))

In [50]:
Notas_Diamante<-select(Notas_Diamante, 'CUE', 'Documento', 'localidad', 'turno' , 'curso' , 'periodoEvaluatorio', 'asignatura', 'nota','NivelEnsenanza', 'Nivel', 'Modalidad', 'año', 'EsPrivada', 'orden', 'Año_cursado')

In [51]:
materias_troncales <- Notas_Diamante %>% filter(asignatura %in% c( "CIENCIAS NATURALES", "CIENCIAS SOCIALES", "INGLÉS", "EDUCACIÓN FÍSICA", "LENGUA", "MATEMÁTICA"))

In [52]:
ftable(materias_troncales$asignatura)

 CIENCIAS NATURALES CIENCIAS SOCIALES EDUCACIÓN FÍSICA INGLÉS LENGUA MATEMÁTICA

              20672             20657            20607   2406  20600      20570

In [53]:
# Creamos variable curso
table(Notas_Diamante$curso)

       1- 6 - A Prim 1-2-3-4-5-6 - I Prim       1-2-3 - A Prim
                 224                  232                  696
        1-2 - 3 Prim         1-2 - A Prim        1-2º - A Prim
                 241                  253                  448
        1-3 - A Prim         1-6 - A Prim       1 - 6 - A Prim
                 656                 4857                  224
          1 - A Prim           1 - B Prim           1 - C Prim
               10677                 7336                 5720
          1 - D Prim           1 - E Prim        1 -2 - A Prim
                2148                 1040                  257
      1 a 3 - A Prim       1 y 2 - A Prim       1 Y 2 - A Prim
                 344                  240                  144
   1, 2 y 3 - A Prim 1, 2 y 3° - año Prim     1,2 y 3 - A Prim
                 992                  191                   96
        1Y2 - A Prim         1Y2 - U Prim           2 - A Prim
                 189                   93                11705
          2 - B Prim           2 - C Prim           2 - D Prim
                7948                 5833                 3280
          2 - E Prim       2 y 3 - A Prim         3-4 - A Prim
                 704                  374                  168
       3-4º - A Prim           3 - A Prim           3 - B Prim
                  60                12217                 7645
          3 - C Prim           3 - D Prim           3 - E Prim
                4926                 1994                  544
      3 y 4 - A Prim 3, 4, 5 y 6 - A Prim     3° y 4° - U Prim
                 206                  256                  168
      4-5-6 - A Prim       4-5-6 - B Prim         4-6 - A Prim
                 387                  160                  958
          4 - 5 Prim           4 - A Prim           4 - B Prim
                 192                10311                 5665
          4 - B PRIM           4 - c PRIM           4 - C Prim
                 652                  126                 4747
          4 - D Prim           4 - E Prim           4 - U Prim
                2221                  544                   48
      4 y 5 - A Prim    4, 5 y 6 - A Prim 4, 5 y 6° - año Prim
                 288                  600                  232
    4,5 y 6 - A Prim   4° A PRIM - A Prim         5-6 - A Prim
                  32                  840                  349
       5-6º - A Prim           5 - A Prim  5 - A PRIM - A Prim
                 136                10714                  832
          5 - B Prim           5 - C Prim           5 - D Prim
                6624                 4954                 1170
          5 - E Prim       5 y 6 - A Prim         5Y6 - U Prim
                 704                  322                   48
          6 - A Prim           6 - B Prim           6 - C Prim
               12902                 7728                 5544
          6 - D Prim           6 - E Prim
                2078                  720

In [54]:
Curso <- str_sub(Notas_Diamante$curso,1,1)
prueba_curso <- cbind(Notas_Diamante [,1:3], Curso, Notas_Diamante[,4:15])
head(prueba_curso)

  CUE     Documento localidad Curso turno    curso        periodoEvaluatorio
1 6000096 53004428  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
2 6000096 50184264  DIAMANTE  4     ROTATIVO 4-6 - A Prim Segundo Trimestre
3 6000096 51285602  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
4 6000096 54252120  DIAMANTE  1     ROTATIVO 1-3 - A Prim Primer Trimestre
5 6000096 51151254  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
6 6000096 50071501  DIAMANTE  4     ROTATIVO 4-6 - A Prim Segundo Trimestre
  asignatura nota NivelEnsenanza Nivel Modalidad año  EsPrivada orden
1 LENGUA     6    PRIMARIO       2     Primaria  2022 N         1
2 LENGUA     9    PRIMARIO       2     Primaria  2022 N         2
3 LENGUA     7    PRIMARIO       2     Primaria  2022 N         1
4 LENGUA     8    PRIMARIO       2     Primaria  2022 N         1
5 LENGUA     6    PRIMARIO       2     Primaria  2022 N         1
6 LENGUA     9    PRIMARIO       2     Primaria  2022 N         2
  Año_cursado
1 CUARTO
2 CUARTO
3 CUARTO
4 PRIMERO
5 CUARTO
6 CUARTO

In [55]:
materias_troncales <- prueba_curso %>% filter(asignatura %in% c( "CIENCIAS NATURALES", "CIENCIAS SOCIALES", "EDUCACIÓN FÍSICA", "LENGUA", "MATEMÁTICA"))

In [56]:
materias_troncales$nota <- as.numeric(materias_troncales$nota)

In [57]:
str(materias_troncales)

'data.frame':	103106 obs. of  16 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ Documento         : num  53004428 50184264 51285602 54252120 51151254 ...
 $ localidad         : chr  "DIAMANTE" "DIAMANTE" "DIAMANTE" "DIAMANTE" ...
 $ Curso             : Factor w/ 6 levels "1","2","3","4",..: 4 4 4 1 4 4 4 1 4 1 ...
 $ turno             : Factor w/ 6 levels "COMPLETO","DIURNO",..: 5 5 5 5 5 5 5 5 5 5 ...
 $ curso             : chr  "4-6 - A Prim" "4-6 - A Prim" "4-6 - A Prim" "1-3 - A Prim" ...
 $ periodoEvaluatorio: chr  "Primer Trimestre" "Segundo Trimestre" "Primer Trimestre" "Primer Trimestre" ...
 $ asignatura        : chr  "LENGUA" "LENGUA" "LENGUA" "LENGUA" ...
 $ nota              : num  6 9 7 8 6 9 6 8 7 6 ...
 $ NivelEnsenanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ Modalidad         : chr  "Primaria" "Primaria" "Primaria" "Primaria" ...
 $ año               : num  2022 2022 2022 2022 2022 ...
 $ EsPrivada         : chr  "N" "N" "N" "N" ...
 $ orden             : num  1 2 1 1 1 2 1 1 1 1 ...
 $ Año_cursado       : chr  "CUARTO" "CUARTO" "CUARTO" "PRIMERO" ...

In [58]:
Cantidad <- length(unique(materias_troncales$Documento))
Cantidad

[1] 5615

In [59]:
length(unique(materias_troncales$CUE))

[1] 91

In [60]:
head(materias_troncales)

  CUE     Documento localidad Curso turno    curso        periodoEvaluatorio
1 6000096 53004428  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
2 6000096 50184264  DIAMANTE  4     ROTATIVO 4-6 - A Prim Segundo Trimestre
3 6000096 51285602  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
4 6000096 54252120  DIAMANTE  1     ROTATIVO 1-3 - A Prim Primer Trimestre
5 6000096 51151254  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
6 6000096 50071501  DIAMANTE  4     ROTATIVO 4-6 - A Prim Segundo Trimestre
  asignatura nota NivelEnsenanza Nivel Modalidad año  EsPrivada orden
1 LENGUA     6    PRIMARIO       2     Primaria  2022 N         1
2 LENGUA     9    PRIMARIO       2     Primaria  2022 N         2
3 LENGUA     7    PRIMARIO       2     Primaria  2022 N         1
4 LENGUA     8    PRIMARIO       2     Primaria  2022 N         1
5 LENGUA     6    PRIMARIO       2     Primaria  2022 N         1
6 LENGUA     9    PRIMARIO       2     Primaria  2022 N         2
  Año_cursado
1 CUARTO
2 CUARTO
3 CUARTO
4 PRIMERO
5 CUARTO
6 CUARTO

In [61]:
dst_1 <- filter(materias_troncales, Curso == 1)
dst_2 <- filter(materias_troncales, Curso == 2)
dst_3 <- filter(materias_troncales, Curso == 3)
dst_4 <- filter(materias_troncales, Curso == 4)
dst_5 <- filter(materias_troncales, Curso == 5)
dst_6 <- filter(materias_troncales, Curso == 6)


length(unique(dst_1$Documento))
length(unique(dst_2$Documento))
length(unique(dst_3$Documento))
length(unique(dst_4$Documento))
length(unique(dst_5$Documento))
length(unique(dst_6$Documento))

[1] 1261

[1] 927

[1] 895

[1] 891

[1] 813

[1] 837

In [62]:
materias_troncales_na<-na.omit(materias_troncales)
head(materias_troncales_na)

  CUE     Documento localidad Curso turno    curso        periodoEvaluatorio
1 6000096 53004428  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
2 6000096 50184264  DIAMANTE  4     ROTATIVO 4-6 - A Prim Segundo Trimestre
3 6000096 51285602  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
4 6000096 54252120  DIAMANTE  1     ROTATIVO 1-3 - A Prim Primer Trimestre
5 6000096 51151254  DIAMANTE  4     ROTATIVO 4-6 - A Prim Primer Trimestre
6 6000096 50071501  DIAMANTE  4     ROTATIVO 4-6 - A Prim Segundo Trimestre
  asignatura nota NivelEnsenanza Nivel Modalidad año  EsPrivada orden
1 LENGUA     6    PRIMARIO       2     Primaria  2022 N         1
2 LENGUA     9    PRIMARIO       2     Primaria  2022 N         2
3 LENGUA     7    PRIMARIO       2     Primaria  2022 N         1
4 LENGUA     8    PRIMARIO       2     Primaria  2022 N         1
5 LENGUA     6    PRIMARIO       2     Primaria  2022 N         1
6 LENGUA     9    PRIMARIO       2     Primaria  2022 N         2
  Año_cursado
1 CUARTO
2 CUARTO
3 CUARTO
4 PRIMERO
5 CUARTO
6 CUARTO

In [63]:
dst_1_na <- filter(materias_troncales_na, Curso == 1)
dst_2_na <- filter(materias_troncales_na, Curso == 2)
dst_3_na <- filter(materias_troncales_na, Curso == 3)
dst_4_na <- filter(materias_troncales_na, Curso == 4)
dst_5_na <- filter(materias_troncales_na, Curso == 5)
dst_6_na <- filter(materias_troncales_na, Curso == 6)

length(unique(dst_1_na$Documento))
length(unique(dst_2_na$Documento))
length(unique(dst_3_na$Documento))
length(unique(dst_4_na$Documento))
length(unique(dst_5_na$Documento))
length(unique(dst_6_na$Documento))

[1] 1256

[1] 922

[1] 889

[1] 888

[1] 807

[1] 835

In [64]:
#install.packages ('writexl') 

library("writexl")

write_xlsx (materias_troncales_na, "C:/Users/Sabrina/Downloads/Exploracion_d_multivariados/diamante_nuevo.xlsx")